@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap'); /* Importing Arvo font from Google Fonts */

html, body {
  font-family: 'Arvo', Georgia, serif; /* Applying Arvo font throughout */
  height: 100%; /* Full viewport height */
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  background-color: #DACCE6; /* Consistent light purple background for a clean look */
  color: #333; /* Default text color set to slate gray for better readability */
  box-sizing: border-box; /* Border-box sizing for all elements */
}

.instructor-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* Align content from the top */
  min-height: 100vh;
  width: 100%;
  padding: 1em 0;
}

.instructor-header {
  width: 100%;
  background-color: #c3a0ff; 
  padding: 1em;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1); /* Subtle shadow for depth */
  color: white; /* White text for contrast */
}

button {
  background-color: #450084; /* JMU Purple */
  color: white;
  font-size: 1em;
  padding: 0.75em 1.5em;
  margin: 0.5em;
  border-radius: 0.5em;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

button:hover {
  background-color: #B599CE; /* Medium purple for hover */
  transform: scale(1.1);
}

button:active {
  transform: scale(0.9);
}

a button {
  background-color: #CBB677; /* JMU Gold */
}

a button:hover {
  background-color: #AD9C65; /* Dark gold for hover */
}

.session-controls {
  display: flex;
  flex-direction: row; /* Aligns children horizontally */
  align-items: center; /* Centers items vertically within the container */
  justify-content: center; /* Centers items horizontally within the container */
  flex-wrap: wrap; /* Allows items to wrap to next line on small screens */
  gap: 10px; /* Adds space between buttons */
  padding: 0.5em;
  width: 100%;
}

.session-status {
  font-size: 1.25em;
  margin: 1em 0;
}

.session-active, .session-inactive {
  font-weight: bold; /* Bold text for session status */
}

.test-view {
  border: 2px solid #450084;
  padding: 1em;
  margin: 2em 0;
  width: 90%;
  background-color: #F4EFE1;
}

/* .student-wrapper {
  width: 100%;
  padding: 1em;
  background-color: #fff; /* Light background for student list area
} */

@media (max-width: 768px) {
  .wrapper, .instructor-container {
    padding: 0.5em;
  }

  button, .test-view {
    width: 100%; /* Full width for better accessibility on mobile devices */
  }

  .session-controls, .student-wrapper {
    flex-direction: column;
    align-items: center;
  }
}
